
@{
    ViewBag.Title = "About";
    Layout = "~/Shared/_layout.cshtml";
}

<h2>Sobre este sistema</h2>

REST (REpresentational State Transfer) é um estilo de arquitetura para sistemas de hipermídia distribuídos, como a World Wide Web, que é definido por um conjunto de restrições com características específicas:
<ul>
    <li>Baseado em Recursos</li>
    <li>Interface uniforme</li>
    <li>Sem estado (stateless)</li>
    <li>Recursos nomeados em forma de localizador</li>
    <li>Arquitetura Cliente-Servidor</li>
</ul>

Esse sistema foi desenvolvido utilizando .NET, MVC 5.0 (C#) e Microsoft SQL Server. 